extends ../layout

block content
  h1 Register
  form(method="POST", action="/register")
    label(for="email") Email
    input#email(type="email", name="email", required)

    label(for="username") Username
    input#username(type="text", name="username", required)

    label(for="password") Password
    input#password(type="password", name="password", required)

    label(for="confirmPassword") Confirm Password
    input#confirmPassword(type="password", name="confirmPassword", required)

    button(type="submit") Create Account

  p
    | Already have an account?
    a(href="/login") Login here.
